header {
	display: block;
}
footer {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
.header {
	top: 0px; 
}
.logo {
	margin: 0px; width: 200px; height:50px; line-height: 0px; border: 1px solid black;
}
.UserArea {
	top: -45px; width: 200px; line-height: 0px; float: left; position: relative;border: 1px solid black;
}
.PersonalDetailsLinks {
	font-size: 12px; 
}
body {
	font-family: Arial; direction: rtl;
}
#container {
	margin: 0px; padding: 0px;
}
#SideMenu {
	top: 0px; width: 200px; height: 600px; right: 0px; font-weight: bold; float: right; 
}
.ProductGroupMenuItem {
	background: rgb(113, 134, 156); width: 150px; height: 17px; color: white; padding-right: 10px; font-size: 12px; font-weight: bold; margin-top: 10px; margin-right: 20px;
}
.ProductMenuItem {
	background: rgb(232, 240, 240); width: 150px; height: 17px; padding-right: 10px; font-size: 12px; font-weight: normal;
}
#Disconnect {
	margin-right: 20px;
}
#content {
	
}
#footer {
	text-align: center; clear: both; font-size: 11px;
}
.TopMenu {
	  float: right; border: 1px solid black; width: 100%; top: -50px; position:relative; height:50px;
}

.ProductMenuItemLink {
	color: rgb(0, 51, 102); font-size: 12px; text-decoration: none;
}
.TotalsBarDiv {
	width: 100%; right: 200px; margin-left: 40px;
}
.TotalsBarTable {
	border: 1px solid black; border-image: none; width: 700px; font-size: 12px; font-weight: bold; border-collapse: collapse; -ms-word-wrap: break-word;
}

.TotalsBarTableTopRow {
	
}
.TotalsBarTableBottomRow {
	font-size: 20px;
}
.TotalsBarItem {
	padding: 5px; border-right-color: black; border-right-width: 1px; border-right-style: solid; border-collapse: collapse;
}
.DetailsDivOLD {
	border: 1px solid currentColor; border-image: none; top: 500px; width: 300px; right: 200px; margin-bottom: 20px; margin-left: 40px; float: right;
}
.DetailsDiv {
	top: 500px; right: 200px; margin-bottom: 20px; margin-left: 40px; float: right;
}
.DetailsTable {
	border: 1px solid currentColor; border-image: none; width: 300px; -ms-word-wrap: break-word;
}
.DetailsTableHeader {
	background: rgb(164, 178, 191); text-align: center; color: white; font-size: 13px; font-weight: bold;
}
.DetailsTableBody {
	font-size: 12px;
	border: 1px solid black; border-image: none; width: 700px; font-size: 12px;  border-collapse: collapse; -ms-word-wrap: break-word;
	}

.TabsDiv {
float: right; text-align:right; margin-top:10px;
}

.InnerTable {
	 border-image: none; -ms-word-wrap: break-word;
	margin-right:10px; margin-bottom:10px;
    border: 1px solid black;
	}

	
.InnerTableHeader {
	background: rgb(218, 33, 84); 
	text-align: center; color: white; font-size: 13px; font-weight: bold;
	padding-right: 5px;
	padding-left:5px;
	}


	
.InnerTableBody {
	font-size: 12px;
	 border-image: none; font-size: 12px;  border-collapse: collapse; -ms-word-wrap: break-word;
    border-bottom-style: 1px solid black;
	padding-right: 5px;
	padding-left:5px;
	}

	
fieldset {
	margin: 0px 0px 1.5em; padding: 0px 1.4em 1.4em; border: 1px solid rgb(221, 221, 221); border-image: none;
}
legend {
	font-size: 1.2em; font-weight: bold;
}
textarea {
	min-height: 75px;
}
.editor-label {
	margin: 1em 0px 0px;
}
.editor-field {
	margin: 0.5em 0px 0px;
}
.field-validation-error {
	color: rgb(255, 0, 0);
}
.field-validation-valid {
	display: none;
}
.input-validation-error {
	border: 1px solid rgb(255, 0, 0); border-image: none; background-color: rgb(255, 238, 238);
}
.validation-summary-errors {
	color: rgb(255, 0, 0); font-weight: bold;
}
.validation-summary-valid {
	display: none;
}
