header {
    display: block;
}

footer {
    display: block;
}

nav {
    display: block;
}

section {
    display: block;
}

.header {
    top: 0px;
}

a:visited {
    color: rgb(0, 102, 204);
}

a:link {
    color: rgb(0, 102, 204);
}

.logo {
    width: 200px;
    height: 50px;
    line-height: 25px;
    margin-top: 20px;
}

.UserArea {
    top: -55px;
    width: 200px;
    line-height: 0px;
    float: left;
    position: relative;
}

.PersonalDetailsLinks {
    font-size: 12px;
}

body {
    font-family: Arial;
    direction: rtl;
}

#container {
    padding: 0px;
    margin-top: 0px;
}

#SideMenu {
    width: 15%;
    height: 600px;
    font-weight: bold;
    float: right;
}

.SideGroupMenuItem {
    background: rgb(113, 134, 156);
    width: 150px;
    height: 17px;
    color: white;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}

.SideMenuItem {
    background: rgb(232, 240, 240);
    width: 150px;
    height: 17px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: normal;
}

.SideMenuItemLink {
    color: rgb(0, 51, 102);
    font-size: 12px;
    text-decoration: none;
}

a.SideMenuItemLink {
    color: rgb(0, 51, 102);
    display: block;
}

    a.SideMenuItemLink:hover {
        color: black;
        font-weight: bold;
    }

#Disconnect {
    margin-right: 20px;
}

#UnderMenu {
    top: 50px;
    width: 100%;
    position: relative;
}

#footer {
    text-align: center;
    clear: both;
    font-size: 11px;
}

.TopMenu {
    width: 98%;
    position: absolute;
}

.TotalsBarDiv {
    width: 100%;
    right: 200px;
    margin-left: 40px;
}

.TotalsBarTable {
    border: 1px solid black;
    border-image: none;
    width: 700px;
    font-size: 12px;
    font-weight: bold;
    border-collapse: collapse;
    -ms-word-wrap: break-word;
}

.TotalsBarTableTopRow {
}

.TotalsBarTableBottomRow {
    font-size: 20px;
}

.TotalsBarItem {
    padding: 5px;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
    border-collapse: collapse;
}

.DetailsDiv {
    width: 80%;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
    position: relative;
}

.DetailsTable {
    border: 1px solid currentColor;
    border-image: none;
    width: 100%;
    -ms-word-wrap: break-word;
    top: -40px;
    position: relative;
    float: right;
}

.DetailsTableHeader {
    background: rgb(164, 178, 191);
    text-align: right;
    color: white;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
}

tr.DetailsTableHeader {
    border-bottom: 1pt solid black;
    border-right: black solid 1px;
}

td.DetailsTableHeader {
    border-bottom: 1pt solid black;
    border-right: black solid 1px;
}


.DetailsTableBody {
    border-image: none;
    width: 700px;
    font-size: 12px;
    border-collapse: collapse;
    height:25px;
}

td.DetailsTableBody {
}

tr.DetailsTableBodyEven {
    border-image: none;
    width: 700px;
    font-size: 12px;
    border-collapse: collapse;
    background: rgb(221, 250, 248);
}

.TabsDiv {
    text-align: right;
    margin-top: 10px;
    float: right;
}

.InnerTable {
    border: 1px solid black;
    border-image: none;
    margin-right: 10px;
    margin-bottom: 10px;
    -ms-word-wrap: break-word;
}

.InnerTableHeader {
    background: rgb(218, 33, 84);
    text-align: center;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 13px;
    font-weight: bold;
}

.InnerTableBody {
    border-image: none;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    border-collapse: collapse;
    -ms-word-wrap: break-word;
}

fieldset {
    margin: 0px 0px 1.5em;
    padding: 0px 1.4em 1.4em;
    border: 1px solid rgb(221, 221, 221);
    border-image: none;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0px 0px;
}

.editor-field {
    margin: 0.5em 0px 0px;
}

.field-validation-error {
    color: rgb(255, 0, 0);
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid rgb(255, 0, 0);
    border-image: none;
    background-color: rgb(255, 238, 238);
}

.validation-summary-errors {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}

#FilterZone {
    position:relative;
    z-index:100;
    top: -50px;
}
