@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>טלפון</h3>
    </header>
    <p>
        <span class="label">משרד:</span>
        <span>03-555-0100</span>
    </p>
    <p>
        <span class="label">פקס:</span>
        <span>03-555-0200</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>דוא"ל:</h3>
    </header>
    <p>
        <span class="label">תמיכה:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">שיווק:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">פיתוח עסקי:</span>
        <span><a href="mailto:General@example.com">Business@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>כתובת:</h3>
    </header>
    <p>
        דיזנגוף 99<br />
        תל אביב 54321
    </p>
</section>