<table>
    <tr><td class="SideGroupMenuItem">קבלת מידע</td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" id="SavingsMenuItem" href="#">מצב החסכונות שלי</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">פירוט הפקדות</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">רווחים</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">דמי ניהול</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">מרכיבי הביטוח</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">מיסוי</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">תחזית לזמן פרישה</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">דו"חות</a></td></tr>
    <tr><td class="SideGroupMenuItem">ביצוע פעולות</td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">עדכון פרטים אישיים</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">עדכון אמצעי תשלום</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">לקיחת הלוואה</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">פדיון כספים</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">שינוי גובה ההפקדה</a></td></tr>
    <tr><td class="SideGroupMenuItem">שינויים במצב התעסוקה</td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">עבודה חדשה (להתחיל לחסוך)</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">פיטורין</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">התפטרות</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">פרישה</a></td></tr>
    <tr><td class="SideGroupMenuItem">יעוץ פנסיוני ממוחשב</td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">בדיקת התיק הפנסיוני</a></td></tr>
    <tr><td class="SideMenuItem"><a class="SideMenuItemLink" href="#">האם ההצעה שקיבלתי משתלמת?</a></td></tr>
</table>
