<table>
    <tr><td class="">החשבונות שלי</td></tr>
    <tr><td class="ProductGroupMenuItem">קרנות פנסיה</td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">כלל 1234</a></td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">מגדל 2323</a></td></tr>
    <tr><td class="ProductGroupMenuItem">ביטוחי מנהלים</td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">כלל 1234</a></td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">מגדל 2323</a></td></tr>
    <tr><td class="ProductGroupMenuItem">קופות גמל</td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">כלל 1234</a></td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">מגדל 2323</a></td></tr>
    <tr><td class="ProductGroupMenuItem">קרנות השתלמות</td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">כלל 1234</a></td></tr>
    <tr><td class="ProductMenuItem"><a class="ProductMenuItemLink" href="#">מגדל 2323</a></td></tr>
</table>
