<ul>
    <li class="TopMenuItem"><a class="TopMenuItemLink" href="#">התיק הפנסיוני</a></li>
    <li class="TopMenuItem"><a class="TopMenuItemLink" href="#">דו"חות</a></li>
    <li class="TopMenuItem"><a class="TopMenuItemLink" href="#">ניתוח תיק</a></li>
    <li class="TopMenuItem"><a class="TopMenuItemLink" href="#">צור קשר</a></li>
    <li class="TopMenuItem"><a class="TopMenuItemLink" href="#">עזרה</a></li>
</ul>
