<!--
<table class="TotalsBarTable">
    <tr class="TotalsBarTableTopRow">
        <td class="TotalsBarItem">צבירה נוכחית:</td>
        <td class="TotalsBarItem">סה"כ צבירה צפוייה בגיל פרישה (67):</td>
        <td class="TotalsBarItem">שכר מבוטח:</td>
    </tr>
    <tr class="TotalsBarTableBottomRow">
        <td class="TotalsBarItem">231232 ש"ח</td>
        <td class="TotalsBarItem">323 ש"ח</td>
        <td class="TotalsBarItem">0 ש"ח</td>
    </tr>
</table>
-->