@{
    ViewBag.Title = "AccountDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="DetailsDiv">
    <table class="DetailsTable">
        <thead class="DetailsTableHeader">
            <tr>
                <td colspan=" 2">
                    פרטים אישיים
                </td>
            </tr>
        </thead>
        <tbody class="DetailsTableBody">
            <tr style="background:#EDF1F4">
                <td>שם:</td>
                <td>ליאור קינג</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>מספר פוליסה:</td>
                <td>343433434</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>ת.ז.:</td>
                <td>1234567890</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>תאריך לידה:</td>
                <td>1/1/1970</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>מין:</td>
                <td>זכר</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>מצב משפחתי:</td>
                <td>רווק</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="DetailsDiv">
    <table class="DetailsTable">
        <thead class="DetailsTableHeader">
            <tr><td colspan="2">נתוני הפוליסה</td></tr>
        </thead>
        <tbody class="DetailsTableBody">
            <tr style="background:#EDF1F4">
                <td>תאריך התחלת הפוליסה:</td>
                <td>1/4/2009</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>מעסיק נוכחי:</td>
                <td>חברה כלשהיא בע"מ</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>מצב חשבון:</td>
                <td>לא פעיל</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>מעמד העמית בקרן:</td>
                <td>שכיר</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>כינוי הפוליסה:</td>
                <td>עדיף</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="DetailsDiv">
    <table class="DetailsTable">
        <thead class="DetailsTableHeader">
            <tr><td colspan="2">כספי חסכון שהצטבר</td></tr>
        </thead>
        <tbody class="DetailsTableBody">
            <tr style="background:#EDF1F4">
                <td>ערך פדיון:</td>
                <td>סכום</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>תגמולי עובד:</td>
                <td>12121 ש"ח</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>תגמולי מעסיק:</td>
                <td>12121 ש"ח</td>
            </tr>
            <tr style="background:#F6F8FA">
                <td>פיצויים ממעסיק נוכחי:</td>
                <td>12121 ש"ח</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>פיצויים ממעסיקים קודמים:</td>
                <td>12121 ש"ח</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>פיצויים ממעסיקים קודמים:</td>
                <td>12121 ש"ח</td>
            </tr>
            <tr style="background:#EDF1F4">
                <td>פיצויים ממעסיקים קודמים:</td>
                <td>12121 ש"ח</td>
            </tr>

        </tbody>
    </table>
</div>