<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="PensionsEntities" connectionString="metadata=res://*/ModelPensions.csdl|res://*/ModelPensions.ssdl|res://*/ModelPensions.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\sql2014;initial catalog=MyProj;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>